version: 1

database:
  connection_url: !env PS_DATABASE_URL
  sslmode: disable

storage:
  type: postgresql
  uri: !env PS_STORAGE_URI
  sslmode: disable

port: !env PS_PORT

client_auth:
  supabase: true
  audience:
    - authenticated

sync_rules:
  orgs/{org_id}/repos/{repo_id}/refs:
    table: refs
    filter:
      org_id: "{org_id}"
      repo_id: "{repo_id}"

  orgs/{org_id}/repos/{repo_id}/commits:
    table: commits
    filter:
      org_id: "{org_id}"
      repo_id: "{repo_id}"

  orgs/{org_id}/repos/{repo_id}/file_changes:
    table: file_changes
    filter:
      org_id: "{org_id}"
      repo_id: "{repo_id}"
